# Ignore VS Code files

.vscode/


# Ignore Idea files

.idea/


# Ignore Python virtual environment

.venv/

.env/

venv/

env/


# Ignore pyinstaller files

build/

*.spec

drunk-cats


# Ignore Python build files

__pycache__/

*.py[cod]
